/* index.css */
/* 1행|북극곰 후원 안내 =================================== */
#wrap {}
#wrap .intro {
    height: 100vh;
    background: url(../images/bg1.png) no-repeat center top 50% / cover;
    margin: 0 auto;
}
#wrap .intro .container {}
#wrap .intro .container h1:nth-child(1) {}
#wrap .intro .container h1:nth-child(1) a {}
#wrap .intro .container h1:nth-child(1) a img {
    width: 89px;
}
#wrap .intro .container h1:nth-child(2) {
    font-size: 4.375rem; line-height: 1.3;
}
#wrap .intro .container h1:nth-child(2) em {
    font-weight: 700;
}
#wrap .intro .container .sponsor_btn {
    font-size: 2.125rem; font-weight: 700; line-height: 1.2;
    padding: 15px 70px;
}
#wrap .intro .container .sponsor_question {
    font-size: 1.625rem; line-height: 1.2;
}
/* 2행|퀴즈 =================================== */
/* 3행|새끼북극곰 이야기=================================== */
/* 4행|빙하면적감소 =================================== */
/* 5행|인류재앙 =================================== */
/* 6행|지구위기 =================================== */
/* 7행|WWF 단체홍보 =================================== */
/* 8행|다양한 활동 =================================== */
/* 9행|감사선물 =================================== */
/* 10행|결제 안내사항 =================================== */